<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Risk Calculator</title>
</head>

<body>

    <div class="container">
        <h1>Enter Details to Delete :-</h1>
        <form th:action="@{/deleteRiskScore}" th:object="${companyRiskScore}" method="POST">
            <div class="mb-3">
                <label for="companyName" class="form-label">Enter existing company Name</label>
                <input type="text" class="form-control" id="companyName" th:field="*{companyName}" placeholder="Enter Company Name Existing in Database">
                <div th:if="${#fields.hasErrors('companyName')}" th:errors"*{companyName}" th:class="error">Invalid Input ( Field is empty or Value is not present )</div>
            </div>
            <div class="mb-3">
                <label for="id" class="form-label">Enter Id</label>
                <input type="number" class="form-control" id="id" th:field="*{id}" placeholder="Enter Id">
                <div th:if="${#fields.hasErrors('id')}" th:errors"*{id}" th:class="error">Invalid Input ( Field is empty or Value is not present )</div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>

</html>