<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Risk Calculator</title>
</head>

<body>
	<div class="container">
    <h1>Enter Details to update :-</h1>
    <form th:action="@{/updateRiskCalcLogic}" th:object="${riskCalc}" method="POST">
        <div class="mb-3">
            <label for="elementName" class="form-label">Element Name</label>
            <input type="text" class="form-control" id="elementName" th:field="*{elementName}" placeholder="Enter Element Name">
            <div th:if="${#fields.hasErrors('elementName')}" th:errors"*{elementName}" th:class="error">*Invalid Input ( Field is empty or Value is not present )</div>
        </div>
        <div class="mb-3">
            <label for="formula" class="form-label">Formula</label>
            <input type="text" class="form-control" id="formula" th:field="*{formula}" placeholder="Enter Formula">
            <div th:if="${#fields.hasErrors('formula')}" th:errors"*{formula}" th:class="error">*Invalid Input ( Field is empty )</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
	</div>
</body>

</html>