<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Risk Calculator</title>
</head>

<body>
    <h1>Enter Details to Delete :-</h1>

    <form th:action="@{/deleteRiskScoreLevel}" th:object="${riskScoreLevel}" method="POST">
        <div class="mb-3">
            <label for="score" class="form-label">Score</label>
            <input type="text" class="form-control" id="score" th:field="*{score}" placeholder="Enter Score">
            <div th:if="${#fields.hasErrors('score')}" th:errors"*{score}" th:class="error">*Invalid Input ( Field is empty or Value is not present )</div>
        </div>
        <div class="mb-3">
            <label for="level" class="form-label">Level</label>
            <input type="text" class="form-control" id="level" th:field="*{level}" placeholder="Enter Level">
            <div th:if="${#fields.hasErrors('level')}" th:errors"*{level}" th:class="error">*Invalid Input ( Field is Empty or Value is not present)</div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>