<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Risk Calculator</title>
</head>

<body>
    <h1>Enter Details to Delete :-</h1>

    <form th:action="@{/deleteScoreCap}" th:object="${scoreCap}" method="POST">
        <div class="mb-3">
            <label for="condition" class="form-label">Condition</label>
            <input type="text" class="form-control" id="condition" th:field="*{condition}" placeholder="Enter Condition">
        </div>
        <div class="mb-3">
            <label for="totalRiskCappedScore" class="form-label">Total Risk Capped Score</label>
            <input type="text" class="form-control" id="totalRiskCappedScore" th:field="*{totalRiskCappedScore}" placeholder="Enter Total Risk Capped Score">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>